[Unit]
Description=Allow Russian IPv4 clients to reach Telemt
Requires=docker.service
After=docker.service network-online.target
PartOf=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=TELEMT_GEO_INTERFACE={{ ansible_facts["default_ipv4"]["interface"] }}
Environment=TELEMT_GEO_PORT={{ telemt_geo_port }}
Environment=TELEMT_GEO_SET={{ telemt_geo_set_name }}
Environment=TELEMT_GEO_CIDR_FILE={{ telemt_geo_cidr_file }}
Environment=TELEMT_GEO_MIN_NETWORKS={{ telemt_geo_min_networks }}
ExecStart=/usr/local/sbin/telemt-geo-allow start

[Install]
WantedBy=multi-user.target
