global
    log stdout format raw local0 debug
    maxconn 10000
    user haproxy
    group haproxy
    nbthread 2
    tune.ssl.default-dh-param 2048
    tune.bufsize 65536
    tune.maxrewrite 32768
    tune.ssl.cachesize 50000

defaults
    log global
    option tcplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect 2s
    timeout client 10s
    timeout server 10s
    timeout http-keep-alive 10s
    timeout queue 5s
    balance leastconn

frontend https-in
    mode tcp
    bind :443

    tcp-request inspect-delay 1s
    tcp-request content accept if { req_ssl_hello_type 1 }

    # SNI для прокси (telegram)
    acl sni_proxy req_ssl_sni -i beatvault.ru

    # SNI для сайта (всё остальное, включая free.beatvault.ru)
    acl sni_site req_ssl_sni -i free.beatvault.ru

    use_backend telemt-backend if sni_proxy
    use_backend nginx-backend if sni_site
    default_backend nginx-backend

backend telemt-backend
    mode tcp
    server telemt telemt:443 check

backend nginx-backend
    mode tcp
    server nginx nginx:8443 check

frontend stats
    mode http
    bind :8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s
